<section id="three" class="wrapper style1 fade-up">
  <div class="inner">
    <h2>{{title}}</h2>
    <p>Here's the link to my Venmo profile. Tap or click it, and be sure you're finding my true self. https://venmo.com/code?user_id=1916900997070848370 </p>
    <p>link is posted for donations :)</p>
    <div class="split style1">
    </div>
  </div>
</section>
