<section id="three" class="wrapper style1 fade-up">
  <div class="inner">
    <h2>{{title}}</h2>
    <p>This is where the Venmo app link is posted for donations :)</p>
    <div class="split style1">
    </div>
  </div>
</section>
