<section id="intro" class="wrapper style1 fullscreen fade-up">
  <div class="inner">
    <h1>{{title}}</h1>
    <p>A February 29, 2020 we have a new server for entertainment.  Please feel free to donate.  Your donations are greatly appreciated.
</p>
    <p>Happy -day!</p>
    <ul class="actions">
      <li><a href="/contact" class="button scrolly">Contact Us Anyways</a></li>
    </ul>
  </div>
</section>
